<%- content_for :page_title do %>People<%- end %>

<%- content_for :meta_desc do %>Motivate Design, a user experience (UX) design agency. Innovative user research. Disruptive design thinking. Happy humans. New York, NY<%- end %>

<%- content_for :body_id do %>people<%- end %>

<%- content_for :section_id do %>people1<%- end %>


    <h1>We're a group of super smart UX<br>people who love to do what we do.</h1>

    <ul id="people-small-header">
      <li>EST. 2009 IN NYC</li>|
      <li>WOMAN-OWNED</li>|
      <li>INC 5000 FASTEST GROWING COMPANY</li>
    </ul>

</section>

<section id="people2" class="page-center">



  <div class="third h-mbottom50">
    <div class="people-image">
      <%= link_to mona_path do %>
        <!-- photo -->
        <%= image_tag gulp_asset_path('/images/people/thumbnails/monacircle.png'), class: "persons-photo", alt: "mona" %>
      <%- end %>
    </div>
    <h3>MONA PATEL</h3>
    <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
    <div class="people-icons">
        <a href="mailto:mona@motivatedesign.com"><%= image_tag gulp_asset_path('/images/misc/circle_icons/icon_email.svg'), alt: "Email Icon", width: "20", height: "auto" %></a>
        <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><%= image_tag gulp_asset_path('/images/misc/circle_icons/icon_linkedin.svg'), alt: "Linkedin Icon", width: "20", height: "auto" %></a>
        <a href="https://twitter.com/monapatel"><%= image_tag gulp_asset_path('/images/misc/circle_icons/icon_twitter.svg'), alt: "Twitter Icon", width: "20", height: "auto" %></a>
    </div>
  </div>

  <%- @people.each do |person| %>
    <div class="third h-mbottom50">
      <div class="people-image">
        <%= link_to person_path(person) do %>
          <!-- photo -->
          <%= image_tag person.profile_pic.url, class: "persons-photo", alt: person.first_name %>
        <%- end %>
      </div>
      <h3><%= person.first_name%> <%= person.last_name%></h3>
      <p class="small-text"><span><%= person.title%></span></p>
      <div class="people-icons">
          <%= link_to "mailto:"+ person.email do %>
            <%= image_tag gulp_asset_path('/images/misc/circle_icons/icon_email.svg'), alt: "Email Icon", width: "20", height: "auto" %>
          <%- end %>
          <%- if person.linkedin %>
            <%= link_to person.linkedin, target: "_blank" do %>
              <%= image_tag gulp_asset_path('/images/misc/circle_icons/icon_linkedin.svg'), alt: "Linkedin Icon", width: "20", height: "auto" %>
            <%- end %>
          <%- end %>
          <%- if person.twitter %>
            <%= link_to person.twitter, target: "_blank" do %>
              <%= image_tag gulp_asset_path('/images/misc/circle_icons/icon_twitter.svg'), alt: "Twitter Icon", width: "20", height: "auto" %>
            <%- end %>
          <%- end %>

      </div>
    </div>
  <%- end %>



  <!-- <div class="third h-mbottom50">
    <div class="people-image">
      <a href="/people/alyce.html">
        <img class="persons-photo" src="./images/people/thumbnails/alyce.jpg" alt="alyce">
      </a>
    </div>
    <h3>ALYCE GREEN</h3>
    <p class="small-text"><span>ACCOUNT RESEARCH DIRECTOR</span></p>
    <div class="people-icons">
        <a href="mailto:jack@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
        <a href="https://www.linkedin.com/pub/kimber-gregorakis/11/a47/a96"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
    </div>
  </div>
-->
</section>

<section id="people3">
  <div class="bucket page-center">
    <p id="people-lead">Are you people-people?</p>
    <p id="people-text">If so, <a class="more-link" href="http://uxhires.com/gethired.php">work with us</a> or <a class="more-link" href="http://uxhires.com/hiretalent.php"> get in touch</a></p>
  </div>
</section>

<section id="people4">
  <div class="page-center">
    <h5 class="eeo-header">Jobs at Motivate Design</h5>
    <p class="eeo">Motivate Design provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability or genetics. In addition to federal law requirements, Motivate Design complies with applicable state and local laws governing nondiscrimination in employment in every location in which the company has facilities. This policy applies to all terms and conditions of employment, including recruiting, hiring, placement, promotion, termination, layoff, recall, transfer, leaves of absence, compensation and training.</p>
    <p class="eeo">Motivate Design expressly prohibits any form of workplace harassment based on race, color, religion, gender, sexual orientation, gender identity or expression, national origin, age, genetic information, disability, or veteran status. Improper interference with the ability of Motivate Design’s employees to perform their job duties may result in discipline up to and including discharge.</p>
  </div>
</section>
