<div class="navicon">
  <%= link_to root_path do %>
    <%= image_tag gulp_asset_path("/images/misc/logos/svg/MOTIVATE_LOGO_WHITE.svg"), class: "cake", id: "mobile-logo" %>
  <% end %>
  <a class="nav-toggle" href="#"><span></span></a>
</div>
<nav id="<%= yield :nav_id %>" class="header-nav">
  <div class="menu-wrapper">
    <ul style="max-width: 65pc;">
      <li class="nav-link-wrapper">
        <%= link_to root_path, id: "logo-anchor" do %>
          <%- if params[:action] == "about" || params[:action] == "work" || params[:action] == "show" %>
            <%= image_tag gulp_asset_path("/images/misc/logos/svg/motivate_logo_main.svg"), id: "logo" %>
          <%- else %>
            <%= image_tag gulp_asset_path("/images/misc/logos/svg/MOTIVATE_LOGO_WHITE.svg"), id: "logo" %>
          <%- end %>
        <% end %>
      </li>
      <li class="nav-link-wrapper"><%= link_to "Work", work_path %></li>
      <li class="nav-link-wrapper"><%= link_to "About", about_path %></li>
      <li class="nav-link-wrapper"><%= link_to "People", people_path %></li>
      <li class="nav-link-wrapper"><%= link_to "Resources", resources_path %></li>
      <li class="nav-link-wrapper"><a href="https://medium.com/@MotivateDesign" target="_blank">Blog</a></li>
      <li class="nav-link-wrapper"><%= link_to "UX Hires", uxhires_root_path %></li>
      <li class="nav-link-wrapper"><a href="/contact.html">Contact</a></li>
    </ul>
  </div>
</nav>
