<%- content_for :page_title do %>Trendsetter<%- end %>

<%- content_for :meta_desc do %>Design and Reseach methods with Trendsetter<%- end %>

<%- content_for :body_id do %>casestudies<%- end %>

<%- content_for :section_id do %>casestudy1<%- end %>

<%- content_for :nav_id do %>nav3<%- end %>

<%- content_for :container_id do %>work-design<%- end %>


  <div class="page-center motivate-header">
    <h1>Trendsetter</h1>
  	<p>Bringing life to ideas through collaborative working sessions</p>
    <%= image_tag gulp_asset_path('images/casestudies/trendsetter/trendsetter_dashboard.png'), id: "hero-iphone", alt: "iphoneapp" %>
  </div>
</section>

<section id="casestudy2">
  <div id="work-research" class="page-center text-spacing1">
    <p>The Trendsetter team has over 15 years experience in the jewelry industry. They had identified many pain points in the journeys of both manufacturers and consumers. Using lean, rapid design cycles and workshops we created the Trendsetter concept. </p>
    <ul class="offerings">
      <li>collaborative design session</li>
      <li>journey maps</li>
      <li>UX Design</li>
      <li>Visual Design</li>
    </ul>
  </div>
</section>
<section id="casestudy3">
  <%= image_tag gulp_asset_path('images/casestudies/trendsetter/IPHONEhead.png'), id: "iphone1", alt: "iphone" %>
  <%= image_tag gulp_asset_path('images/casestudies/trendsetter/rate_copy_2.png'), id: "iphone2", alt: "iphone" %>
  
</section>
<section id="casestudy4">
  <div class="page-center text-spacing2">
<h5 class="tiny-header h-green-color">FROM RAW CONCEPTS TO VISUAL DESIGN</h5>
<p>In an all-day Workthrough session with the Trendsetter team, we flowed out the journey of key user types and pieces of jewelry themselves. Drawing insights from this collaborative design session, we created a concept web and iOS application.</p>
<%= image_tag gulp_asset_path('images/casestudies/trendsetter/Safari_Copy2.png'), id: "browser1", alt: "browser" %>
<%= image_tag gulp_asset_path('images/casestudies/trendsetter/Safari_Copy.png'), id: "browser2", alt: "browser2" %>

</section> 

<section id="casestudy5" class="h-dark-bgcolor">
  <div class="page-center text-spacing3">
    <h5 class="tiny-header h-green-color">FROM RAW CONCEPTS TO VISUAL DESIGN</h5>
    <p>The mobile app focused on consumers, whose needs were oriented toward rating and purchasing items. However, the needs of manufacturers and vendors were better suited to a web dashboard where they could easily review data and manage inventory.</p>
  </div>
</section>

<section id="casestudy6">
  <div id="iphones" class="page-center">
    <div class="half">
      <%= image_tag gulp_asset_path('images/casestudies/trendsetter/trendsetteriphones1.png'), alt: "iphones" %>
      <%= image_tag gulp_asset_path('images/casestudies/trendsetter/trendsetteriphones2.png'), alt: "iphones", style: "padding-top: 10px;" %>
    </div>
    <div class="half">
      <%= image_tag gulp_asset_path('images/casestudies/trendsetter/trendsetteriphones3.png'), alt: "iphones" %>
      <%= image_tag gulp_asset_path('images/casestudies/trendsetter/trendsetteriphones4.png'), alt: "iphones" %>

    </div>
    <div class="whole text-spacing4">
      <h5 class="tiny-header h-green-color">PAIN POINTS IN THE JOURNEY BECOME OPPORTUNITIES FOR NEW FEATURES</h5>
      <p>We took an in-depth look at the pain-points which were causing the most friction then transformed them into design opportunities.</p>
    </div>
  </div>
    <div class="h-txtcenter h-mtop50">
      <a class="more-link hvr-icon-back" href="/work#trendsetter-anchor">RETURN TO ALL CASE STUDIES</a>
    </div>

  
</section>


