<%- content_for :page_title do %>UxHires<%- end %>
<%- content_for :meta_desc do %>Through research, design and staffing, we work with clients to solve brand, product or service problems and create delightful user experiences.<%- end %>
<%- content_for :body_id do %>uxhires-jobs<%- end %>
<%- content_for :section_id do %>uxhires-jobs-wrapper<%- end %>

	<section id="uxhires-jobs1">
		<div class="logo-wrapper">
		  <%= image_tag gulp_asset_path("/images/uxhires/uxhires-logo.png"), alt: "ux hires logo", style: "width: 250px;" %>
		</div>
		<div class="view-jobs">
			<div class="nav-l">
				<%= link_to "VIEW ALL JOBS", uxhires_jobs_path %>
			</div>
			<!-- <div class="nav-r">
				<a href="#", class="p-right">REGISTER</a>
				<a href="#">LOG IN</a>
			</div> -->
			<div class="clear"></div>
		</div>
	</section>

	<section id="uxhires2", class="white">
    <div class="page-center">
      <h2 class="green-lead">UX Hires is a different kind of recruiting firm because it is embedded within a UX agency.</h2>
      <h3 class="sentinel-lead m-top">Our alliance with a UX agency gives us a real understanding of how organizations need to approach UX. In this complex field, you don't need an IT or technical recruiting firm. You need our kind of expertise to evaluate your staffing strategy or find the right role for you.
      </h3>
    </div>
  </section>

  <section id="filter">
  	<div class="page-center">
			<%= simple_form_for :search, url: uxhires_refine_path(:anchor => "job-bar"), method: "get" do |f| %>
	  		<h3>
	  			FILTER BY
	  		</h3>
				<div class="select-wrapper">
					<%= f.input :location, collection: @active.pluck(:location).compact.uniq, prompt: "Location", label: false, required: false, input_html: { id: "loc" }%>
	  		</div>
	  		<div class="select-wrapper">
					<%= f.input :role, collection: @active.active.pluck(:role).compact.map{|role| role.split(', ')}.flatten.uniq, label: false, prompt: "Type of Role", required: false, input_html: { id: "type" } %>
		  	</div>
		  	<div class="select-wrapper">
					<%= f.input :type, collection: @active.pluck(:company_type).compact.uniq, label: false, prompt: "Type of Company", required: false, input_html: { id: "company" } %>
		  	</div>
        <div class="input-wrapper">
				  <%= f.input :keywords, placeholder: "Keywords", required: false, label: false %>
        </div>

	  		<button>Search</button>
			<% end %>
  	</div>
  </section>

  <div class="more-roles" id="job-bar">
		<div class="left less">
			<a href="#">JOB DESCRIPTION</a>
		</div>
		<div class="right">
			<a href="#">LOCATION</a>
		</div>
	</div>

	<section id="uxhires-jobs3">
		<% @jobs.each do |job| %>
			<div class="job-wrapper">
				<div class="role">
					<h3>
						<%= job.title %>
					</h3>
					<p>
						<%= "#{sanitize(job.description, tags: %w('&')).truncate(300).html_safe}" if job.description %>
						<%= link_to "More info.", uxhires_job_path(job) %>
					</p>
				</div>
				<div class="loc">
					<p>
						<%= job.location %>
					</p>
				</div>
			</div>
		<% end %>
	</section>

	<section id="uxhires8", class=
	"white">
    <div class="paginate">
      <div class="float-wrap">
        <%= will_paginate @jobs,:container => false, :previous_label => image_tag(gulp_asset_path("/images/uxhires/double-left-arrows.png")), :next_label => image_tag(gulp_asset_path("/images/uxhires/double-right-arrows.png")), :params => {:anchor => "job-bar"} %>
      </div>
    </div>
    <div class="section-center center wider">
      <%= render :partial => 'related_links' %>
    </div>
  </section>


		<!-- End body and section -->
	</div>
</section>
