<%- content_for :page_title do %>UxHires<%- end %>
<%- content_for :meta_desc do %>Through research, design and staffing, we work with clients to solve brand, product or service problems and create delightful user experiences.<%- end %>
<%- content_for :body_id do %>uxhires-jobs<%- end %>
<%- content_for :section_id do %>uxhires-jobs-wrapper<%- end %>

	<section id="uxhires-jobs1">
		<div class="logo-wrapper">
		  <%= image_tag gulp_asset_path("/images/uxhires/uxhires-logo.png"), alt: "ux hires logo", style: "width: 250px;" %>
		</div>
		<div class="view-jobs">
			<div class="nav-l">
				<a href="/uxhires/jobs">GO BACK TO VIEW ALL JOBS</a>
			</div>
			<!-- <div class="nav-r">
				<a href="#", class="p-right">REGISTER</a>
				<a href="#">LOG IN</a>
			</div> -->
			<div class="clear"></div>
		</div>
	</section>

	<section id="uxhires-jobs2">
		<div class="page-center">
			<h1>
				The Role
			</h1>
			<h3>
				<%= @job.title %> |
				<i>
					<%= @job.location %>
				</i>
			</h3>
			<p>
			<%= sanitize(@job.description.truncate(500), tags: %w(div strong br h5 h4 h3 h2 h1 span em p ul li a code pre ol input textarea label)) %>
			</p>

			<div class="job-app-form">
				<%= simple_form_for :application, html: {id: "simple-job-app"}, url: uxhires_job_submit_app_path(@job) do |f| %>
					<% @form["response"]["item"]["questions"]["question"].each do |question| %>
						<%= parse_question_type(question) %>
						<div class="input-wrapper">
							<label for=<%= @for %> class=<%= @required_class %>>
								<%= @label %>
							<label>
							<% if @comment %>
								<p><%= @comment %></p>
							<% end %>
							<% if @input == "check_boxes" %>
								<%= f.input @name.to_sym, as: @input.to_sym, collection: @answers, label: false %>
							<% else %>
								<%= f.input @name.to_sym, as: @input.to_sym, label: false, required: @required %>
							<% end %>
						</div>
					<% end %>
					<div class="submit-wrapper">
						<%= f.submit "Apply", class: "submit", id: "apply-btn" %>
					</div>
				<% end %>
			</div>

			

			<!-- <h3>
				Do you have enterprise/B2B experience?*
			</h3>
			<input type="radio">
				<label for="">
					3+ Projects
				</label>
			<br>
			<input type="radio">
				<label for="">
					1-2 Projects
				</label>
			<br>
			<input type="radio">
				<label for="">
					No enterprise, but related experience
				</label>
			<br>
			<input type="radio">
				<label for="">
					None
				</label>
			<h3>
				Product Experience?*
			</h3>
			<input type="radio">
				<label for="">
					1 year+
				</label>
			<br>
			<input type="radio">
				<label for="">
					6 months - 1 year
				</label>
			<br>
			<input type="radio">
				<label for="">
					3 months - 6 months
				</label>
			<br>
			<input type="radio">
				<label for="">
					Less than 3 months
				</label>
			<br>
			<h3>
				Upload your resume* and portfolio
			</h3>
			<input type="file", class="margin-b">
			<br>
			<input type="file">
			<h3>
				Tell us about yourself
			</h3>
			<div class="form-wrapper">
				<input type="text", placeholder="First Name", class="margin-r ninety">
				<input type="text", placeholder="Last Name", class="ninety">
				<br>
				<input type="text", placeholder="Email", class="full">
				<br>
				<input type="text", placeholder="Social Media", class="full">
				<br>
				<input type="text", placeholder="Website", class="full">
				<br>
				<input type="text", placeholder="Mobile", class="full">
				<br>
				<input type="text", placeholder="City", class="margin-r ninety">
				<input type="text", placeholder="State", class="ninety">
				<br>
			</div>
			<button>Submit Now</button>
		</div> -->
	</section>

	<section id="uxhires8", class=
	"white">
		<%= render :partial => "related_links" %>
  </section>
