<%- content_for :page_title do %>UxHires<%- end %>
<%- content_for :meta_desc do %>Through research, design and staffing, we work with clients to solve brand, product or service problems and create delightful user experiences.<%- end %>
<%- content_for :body_id do %>uxhires-jobs<%- end %>
<%- content_for :section_id do %>uxhires-jobs-wrapper<%- end %>

	<section id="uxhires-jobs1">
		<div class="logo-wrapper">
		  <%= image_tag gulp_asset_path("/images/uxhires/uxhireslogo.svg"), alt: "ux hires logo", style: "width: 250px;" %>
		</div>
		<div class="view-jobs">
			<div class="nav-l">
				<a href="#">GO BACK TO VIEW ALL JOBS</a>
			</div>
			<div class="nav-r">
				<a href="#", class="p-right">REGISTER</a>
				<a href="#">LOG IN</a>
			</div>
			<div class="clear"></div>
		</div>
	</section>

	<section id="uxhires-jobs2">
		<div class="page-center">
			<h1>
				The Role
			</h1>
			<h3>
				<%= @job.title %> |
				<i>
					<%= @job.location %>
				</i>
			</h3>
			<p>
			<%= sanitize(@job.description.truncate(500), tags: %w(br h5 ul li)) %>
			</p>
			
			<div class="job-app-form">
				<%= simple_form_for :application, html: {}, url: uxhires_job_submit_app_path(@job) do |f| %>
					<% @form["response"]["item"]["questions"]["question"].each do |question| %>
						<%= parse_question_type(question) %>
						<div class="input-wrapper">
							<label for=<%= @for %> class=<%= @required_class %>>
								<%= @label %>
							<label>
							<% if @comment %>
								<p><%= @comment %></p>
							<% end %>
							<% if @input == "check_boxes" %>
								<%= f.input @name.to_sym, as: @input.to_sym, collection: @answers, label: false %>
							<% else %>
								<%= f.input @name.to_sym, as: @input.to_sym, label: false, required: @required %>
							<% end %>
						</div>
					<% end %>
					<div class="submit-wrapper">
						<%= f.submit "Apply", class: "submit" %>
					</div>
				<% end %>
			</div>

			<!-- <%= simple_form_for @job, url: uxhires_job_submit_app_path(@job), method: "post" do |f| %>
				<% @form["response"]["item"]["questions"]["question"].each do |question| %>
					<div class="input-wrapper">
						<label> <%= question["title"] %><label>
						<p><%= question["comment"] %></p>
						<%= parse_question_type(question) %>
					</div>
				<% end %>
				<div class="submit-wrapper">
					<%= f.submit "Apply" %>
				</div>
			<% end %> -->

			<!-- <h3>
				Do you have enterprise/B2B experience?*
			</h3>
			<input type="radio">
				<label for="">
					3+ Projects
				</label>
			<br>
			<input type="radio">
				<label for="">
					1-2 Projects
				</label>
			<br>
			<input type="radio">
				<label for="">
					No enterprise, but related experience
				</label>
			<br>
			<input type="radio">
				<label for="">
					None
				</label>
			<h3>
				Product Experience?*
			</h3>
			<input type="radio">
				<label for="">
					1 year+
				</label>
			<br>
			<input type="radio">
				<label for="">
					6 months - 1 year
				</label>
			<br>
			<input type="radio">
				<label for="">
					3 months - 6 months
				</label>
			<br>
			<input type="radio">
				<label for="">
					Less than 3 months
				</label>
			<br>
			<h3>
				Upload your resume* and portfolio
			</h3>
			<input type="file", class="margin-b">
			<br>
			<input type="file">
			<h3>
				Tell us about yourself
			</h3>
			<div class="form-wrapper">
				<input type="text", placeholder="First Name", class="margin-r ninety">
				<input type="text", placeholder="Last Name", class="ninety">
				<br>
				<input type="text", placeholder="Email", class="full">
				<br>
				<input type="text", placeholder="Social Media", class="full">
				<br>
				<input type="text", placeholder="Website", class="full">
				<br>
				<input type="text", placeholder="Mobile", class="full">
				<br>
				<input type="text", placeholder="City", class="margin-r ninety">
				<input type="text", placeholder="State", class="ninety">
				<br>
			</div>
			<button>Submit Now</button>
		</div> -->
	</section>

	<section id="uxhires8", class=
	"white">
    <div class="section-center center wider">
      <h2>
        Next, check these
      </h2>
      <div class="related-container visible">
        <div class="related-box first">
          <p>
            Open Position
          </p>
          <h3>
            Senior UX <br>
            Researcher (SF)
          </h3>
        </div>
        <div class="related-box second">
          <p>
            Article
          </p>
          <h3>
            How I accidentally <br>
            became a UX <br>
            Designer
          </h3>
        </div>
        <div class="related-box third">
          <p>
            Events
          </p>
          <h3>
            Leap Into UX: <br>
            From Products to <br>
            Portfolios
          </h3>
        </div>
        <div class="related-box fourth">
          <p>
            GET YOUR COPY
          </p>
          <h3>
            Reframe by <br>
            Mona Patel
          </h3>
        </div>
        <div class="related-box first">
          <p>
            Article
          </p>
          <h3>
            21 Podcasts That <br>
            Will Change Your <br>
            Life
          </h3>
        </div>
        <div class="related-box third">
          <p>
            FEATURED EMPLOYEE
          </p>
          <h3>
            Andrew Forman<br>
            Recruitment <br>
            Coordinator
          </h3>
        </div>
        <div class="related-box fourth">
          <p>
            GET YOUR COPY
          </p>
          <h3>
            Reframe by <br>
            Mona Patel
          </h3>
        </div>
        <div class="related-box first">
          <p>
            Article
          </p>
          <h3>
            21 Podcasts That <br>
            Will Change Your <br>
            Life
          </h3>
        </div>
        <div class="related-box fifth">
          <p>
            FEATURED EMPLOYEE
          </p>
          <h3>
            Andrew Forman<br>
            Recruitment <br>
            Coordinator
          </h3>
        </div>




      </div>
    </div>
  </section>
