<%- content_for :page_title do %>UxHires<%- end %>

<%- content_for :meta_desc do %>Through research, design and staffing, we work with clients to solve brand, product or service problems and create delightful user experiences.<%- end %>

<%- content_for :body_id do %>home<%- end %>

<%- content_for :section_id do %>uxhires1<%- end %>

        <div class="logo-wrapper">
          <%= image_tag gulp_asset_path("/images/uxhires/uxhires-logo.png"), alt: "ux hires logo", style: "height: 155px; width: 125px;" %>
        </div>

        <div class="heading">
          <!-- <h1>Our specialized recruiters <br> will help you <span>build out your team</span> or <span>find the perfect job.</span></h1> -->
          <h1>
          We help you build your <br> UX team or find the perfect job.
          </h1>
        </div>
        <div class="arrow-container m-top">
          <a href="#uxhires2">
            <%= image_tag gulp_asset_path("/images/misc/arrows/arrow.svg"), class: "h-arrow animated bounce infinite", alt: "Down arrow" %>
          </a>
        </div>
      </section>

      <section id="uxhires2">
        <div class="page-center">
          <h2 class="green-lead">As recruiters, we have a clear understanding of UX needs because we are embedded within a UX agency.</h2>
          <h3 class="sentinel-lead m-top">We recognize that different organizations approach UX differently. This kind of expertise allows us to evaluate your staffing strategy or find the right role for you.
          </h3>
        </div>
      </section>

      <section id="uxhires3">
        <div class="page-center">
          <h2 class="green-lead m-bottom">We specialize in hiring UX professionals at any level
          </h2>
          <div class="uxwrapper">
            <%= image_tag gulp_asset_path("images/uxhires/ux-designers.png"), class: "ux-img", alt: "ux-img" %>
            <div class="ux-head">
              UX Designer
            </div>
            <div class="ux-subhead">
              The architect who creates blueprints for exceptional experiences.
              <%= link_to "See openings", uxhires_jobs_path %>
            </div>
          </div>
          <div class="uxwrapper">
            <%= image_tag gulp_asset_path("images/uxhires/ux-researchers.png"), class: "ux-img", alt: "ux-img" %>
            <div class="ux-head">
              UX Researcher
            </div>
            <div class="ux-subhead">
              The design archeologist, uncovering user behaviors that power experiences. <br>
              <%= link_to "See openings", uxhires_jobs_path %>
            </div>
          </div>
          <div class="uxwrapper">
            <%= image_tag gulp_asset_path("images/uxhires/ui-designers.png"), class: "ux-img", alt: "ux-img" %>
            <div class="ux-head">
              Visual/UI Designer
            </div>
            <div class="ux-subhead">
              The craftsman who realizes the look and feel of a beautiful, intuitive experience.
              <%= link_to "See openings", uxhires_jobs_path %>
            </div>
          </div>
        </div>
      </section>

      <section id="uxhires4">
        <div class="section-center hidden-load wp3">
          <div class="bucket-inner">
            <h3 class="section-header h-staffing-color">
              We'll help you find <br> the perfect fit
            </h3>
            <p>
              We match people to places based on experience, personality and skill. <br>
              <%= link_to "See openings", uxhires_jobs_path %>
            </p>
          </div>
        </div>

        <div class="image-wrap">
          <%= image_tag gulp_asset_path("/images/uxhires/briefcase.png"), class: "hidden-load wp4", alt: "ux-img" %>
        </div>
      </section>

      <section id="uxhires5">
        <div class="section-center center">
          <h3>
            "We worked with UX Hires to identify talent for several hard-to-find UX positions during a hiring ramp at Yodle. It's been a pleasure working with them. They are extremely professional and only send exceptional candidates. I would absolutely recommend them to other companies looking to hire strong talent for their UX organizations."
          </h3>
          <div class="contain-testimonial">
            <p>
              Suzanne Logan, Sr. Manager of Corporate Recruiting
            </p>
            <%= image_tag gulp_asset_path("/images/uxhires/yodle.png")%>
          </div>
        </div>
      </section>

      <section id="uxhires6">
        <div class="section-center hidden-load wp2">
          <div class="bucket-inner">
            <h3 class="section-header h-staffing-color">
              Just right, <br> just-in-time staffing solutions
            </h3>
            <p>
              Using an in-depth knowledge of UX, substantial industry networks and exacting standards, we identify the best talent for your team.
              <a href="mailto:andrew@uxhires.com">Hire talent</a>
            </p>
          </div>
        </div>

        <div class="image-wrap">
          <%= image_tag gulp_asset_path("/images/uxhires/find-talent.png"), class: "hidden-load wp6"%>
        </div>

      </section>


      <!-- <section id="uxhires7">
        <div class="section-center center">
          <h3>
            "UX Hires found me the best job ever. I love my new job. <br> They listened to me and walked me through everything."
          </h3>
          <div class="contain-testimonial">
            <p>
              Todd Brown, Customer Insights Leader
            </p>
            <img src="images/uxhires/simple.svg" alt="">
          </div>
        </div>
      </section> -->

      <section id="uxhires8">
        <div class="section-center center wider">
          <h2>
            Related Links
          </h2>
          <div class="related-container">
            <%= link_to uxhires_job_path(@featured) do %>
            <div class="related-box first">
                <p>
                  Open Position
                </p>
                <h3>
                  <%= @featured.title %>
                  <br>
                  <%= @featured.location %>
                </h3>
              </div>
            <% end %>
            <%= link_to @external_links.first.url do %>
              <div class="related-box second">
                <p>
                  <%= @external_links.first.link_type %>
                </p>
                <h3>
                  <%= @external_links.first.title %>
                </h3>
              </div>
            <% end %>
            <%= link_to @external_links.last.url do %>
              <div class="related-box third", style="background: url(<%= @external_links.first.image_url %>)">
                <p>
                  <%= @external_links.last.link_type %>
                </p>
                <h3>
                  <%= @external_links.last.title %>
                </h3>
              </div>
            <% end %>
          </div>
        </div>
      </section>

      <section id="uxhires9">
        <div class="page-center p-top">
          <h3>More open positions</h3>
          <% @open.each do |posting| %>
            <div class="job-listing">
              <h1>
                <%= posting.title %>
              </h1>
              <p>
                <%= sanitize(posting.description, tags: %w('&')).truncate(300).html_safe if posting.description %>
                <%= link_to "More info.", uxhires_job_path(posting) %>
              </p>
            </div>
          <% end %>
          <!-- <div class="job-listing">
            <h1>
              Senior UX Researcher
            </h1>
            <p>
              Our client, (a successful 12 year-old SaaS based company located inside San Francisco), is seeking a User Experience Researcher to join their team and help them bring world-class user experiences to their customers. They have over 50 million users in countries around the world and are just getting started!
              <a href="#">More info.</a>
            </p>
          </div> -->
        </div>
      </section>
